
# Python / bytecode
__pycache__/
*.py[cod]
*.pyc
*$py.class


# Virtual environments
env/
venv/
.venv/


# Jupyter
.ipynb_checkpoints/


# OS / editor junk
*.DS_Store
*~$*
.idea/


# Build / packaging
*.egg-info/

# Large generated outputs
examples/*.npy

# Input data

# Ignore large single files
input/blood_path.npy
input/patient/dose.npy

# ---- Patient data ----
# Keep directory structure, ignore contents
input/patient/*
!input/patient/.gitkeep

input/patient/DVHs/*
!input/patient/DVHs/.gitkeep
